body {
  font-size: 62.5%;
  font-family: "Raleway", sans-serif; }

h2 {
  font-family: "Alfa Slab One", serif; }

h3 {
  color: #e7eafe; }

.box {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background-attachment: fixed;
  background: url("../img/grey.png") repeat top left; }
  @media only screen and (min-width: 768px) {
    .box {
      background: url("../img/grey_@2X.png"); } }

.column {
  height: 100%;
  overflow: auto;
  *zoom: 1; }

.l-full {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row; }
  @media all and (max-width: 768px) {
    .l-full {
      -ms-flex-direction: column;
          flex-direction: column; } }

.row {
  height: 100%;
  margin-left: 0;
  margin-right: 0; }

.wrapper {
  height: 100%;
  margin-left: 0;
  margin-right: 0; }

.c-about__copy {
  font-size: 16px;
  font-size: 1.6rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
  margin-right: 2rem; }
  @media all and (max-width: 768px) {
    .c-about__copy {
      font-size: 12px;
      font-size: 1.2rem; } }

.c-about__subhead {
  margin: 2rem;
  margin-top: 4rem; }

.c-avatar {
  width: 100%;
  max-width: 30rem;
  height: auto; }

.c-btn {
  border-radius: 0.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: all 0.2s ease-in-out; }

.c-content {
  color: #d9d9d9;
  background-color: #131839;
  padding-top: 2rem;
  padding-bottom: 2rem; }

.c-content--contact::before {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 0;
  opacity: 0.05;
  background-image: url("../img/bg-contact.jpg");
  background-size: cover; }
  @media only screen and (min-width: 768px) {
    .c-content--contact::before {
      background-image: url("../img/bg-contact_lg.jpg"); } }

.c-content--about::before {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 0;
  opacity: 0.05;
  background-image: url("../img/bg-about.jpg");
  background-size: cover; }
  @media only screen and (min-width: 768px) {
    .c-content--about::before {
      background-image: url("../img/bg-about_lg.jpg)"); } }

.c-content--portfolio::before {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 0;
  opacity: 0.05;
  background-image: url("../img/bg-portfolio.jpg");
  background-size: cover; }
  @media only screen and (min-width: 768px) {
    .c-content--portfolio::before {
      background-image: url("../img/bg-portfolio_lg.jpg"); } }

.c-cta {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.c-cta__link {
  color: white;
  background-color: #df8620;
  border-color: transparent; }

.c-cta__copy {
  font-size: 18px;
  font-size: 1.8rem;
  color: #d9d9d9; }

.c-footer {
  position: absolute;
  bottom: 0;
  font-size: 12px;
  font-size: 1.2rem; }
  @media all and (min-width: 1076px) {
    .c-footer {
      font-size: 16px;
      font-size: 1.6rem; } }

.c-form__label {
  color: #a6a6a6;
  font-size: 18px;
  font-size: 1.8rem;
  padding-bottom: 1rem; }

.c-form__item {
  border-top: solid 1px #e7eafe;
  border-left: solid 1px #e7eafe;
  border-radius: 0.2rem 0 0 0;
  padding: 2rem;
  margin-bottom: 3rem; }

.c-form__field {
  color: #d9d9d9;
  background-color: rgba(217, 217, 217, 0.25);
  padding: 3rem;
  border: solid 1px transparent;
  box-shadow: none;
  transition: all 0.2s ease-in-out; }
  .c-form__field:focus {
    outline: none !important;
    background-color: #131839;
    border: solid 1px #b6c0fb;
    box-shadow: 0 0 10px #b6c0fb; }
  @media (min-width: 768px) {
    .c-form__field::-webkit-input-placeholder {
      color: transparent; }
    .c-form__field::-moz-placeholder {
      color: transparent; }
    .c-form__field:-ms-input-placeholder {
      color: transparent; }
    .c-form__field::placeholder {
      color: transparent; } }

.c-form__field--textarea {
  resize: vertical; }

.c-form__btn {
  color: #e7eafe;
  background-color: #df8620;
  max-width: 75%;
  margin: 0 auto; }
  .c-form__btn:hover {
    color: #131839;
    background-color: #e7eafe; }
  .c-form__btn:focus {
    color: #131839;
    background-color: #e7eafe;
    outline: none !important;
    border: solid 1px #b6c0fb;
    box-shadow: 0 0 10px #b6c0fb; }

.c-heading {
  display: block;
  margin-top: 2rem;
  margin-bottom: 2rem; }

.c-heading--section {
  color: #e7eafe;
  font-size: 24px;
  font-size: 2.4rem; }
  @media all and (min-width: 768px) {
    .c-heading--section {
      font-size: 30px;
      font-size: 3rem; } }

.c-link {
  color: #212121;
  transition: all 0.2s ease-in-out; }
  .c-link:visited {
    color: #202860; }
  .c-link:hover {
    color: #454545; }
  .c-link:active {
    color: #df8620; }
  .c-link::after {
    content: " \00bb"; }

.c-link--rev {
  color: #e7eafe; }
  .c-link--rev:visited {
    color: #e7eafe; }
  .c-link--rev:hover {
    color: #b6c0fb; }
  .c-link--rev:active {
    color: #df8620; }

.c-logo {
  max-width: 30rem;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem; }

.c-masthead {
  margin-top: 4rem;
  margin-bottom: 4rem; }

.modal-content {
  border-radius: 0.2rem; }

.modal-open {
  color: #131839;
  font-size: 16px;
  font-size: 1.6rem; }

.modal-title {
  color: #202860;
  font-size: 24px;
  font-size: 2.4rem; }

.c-modal__copy {
  color: #131839; }

.c-modal__img {
  max-width: 56rem;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem; }

.c-nav__item {
  font-size: 24px;
  font-size: 2.4rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #212121; }
  .c-nav__item:hover {
    color: white;
    background-color: #df8620;
    box-shadow: 0 20px 50px -20px #131839; }

.c-nav__item--current {
  background-color: #e7eafe; }
  .c-nav__item--current:hover {
    background-color: #b6c0fb; }

.c-portfolio-item {
  float: left;
  font-size: 18px;
  font-size: 1.8rem;
  margin-top: 2rem;
  margin-bottom: 2rem; }

.c-portfolio-item__thumb {
  max-width: 30rem;
  width: 100%; }

.c-sidebar {
  font-size: 26px;
  font-size: 2.6rem; }
  @media (max-width: 768px) {
    .c-sidebar {
      text-align: center;
      margin: 3rem auto 0;
      font-size: 18px;
      font-size: 1.8rem; } }

.c-sidebar__nav {
  list-style: none;
  padding: 0; }

.c-social {
  list-style: none;
  padding: 0; }

@media all and (min-width: 882px) {
  .c-social__item {
    display: inline;
    padding-right: 2rem; } }

.c-social__link {
  color: #212121; }
  .c-social__link:visited {
    color: #202860; }
  .c-social__link:hover {
    color: #454545; }
  .c-social__link:active {
    color: #df8620; }

.c-social__link--rev {
  color: #e7eafe; }
  .c-social__link--rev:visited {
    color: #e7eafe; }
  .c-social__link--rev:hover {
    color: #b6c0fb; }
  .c-social__link--rev:active {
    color: #df8620; }

.splash {
  background-color: #131839; }

.c-splash-footer {
  color: #d9d9d9;
  font-size: 14px;
  font-size: 1.4rem; }

.c-splash-footer__item {
  display: inline-block;
  padding-right: 2rem; }

.c-splash-nav {
  list-style: none;
  padding: 0;
  margin-top: 3rem;
  margin-bottom: 3rem; }

.c-splash-nav__item {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.c-splash-nav__link {
  color: #e7eafe;
  border: solid 1px #e7eafe; }
  .c-splash-nav__link:hover {
    color: #131839;
    background-color: #e7eafe; }
