.c-splash-footer {
    color: $color-text-reverse;
    @include font-size(1.4);
    // position: absolute;
    // bottom: 0;
}

.c-splash-footer__item {
    display: inline-block;
    padding-right: $space;
}
