.c-splash-nav {
    list-style: none;
    padding: 0;
    @include margin-vert($space-and-half);
}

.c-splash-nav__item {
    @include margin-vert($space);
}

.c-splash-nav__link {
    color: $color-btn-reverse-text;
    border: solid 1px $color-border-reverse;

    &:hover {
        color: $color-btn-reverse-text-hover;
        background-color: $color-btn-reverse-hover;
    }
}
