/*=============================================>>>>>
= RESET Styles =
===============================================>>>>>*/
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:after, blockquote:before,
q:after,
q:before {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*= End of RESET Styles =*/
/*=============================================<<<<<*/
/*=============================================>>>>>
= TYPOGRAPHY Styles =
===============================================>>>>>*/
html {
  font-size: 62.5%; }

.tagline {
  font-family: Georgia, Times, serif;
  text-align: center; }

.caption,
footer,
h1 {
  font-family: "futura-pt", sans-serif; }

.photographer {
  font-size: 1.8rem; }
  @media (min-width: 40em) {
    .photographer {
      font-size: 2rem; } }
  @media (min-width: 60em) {
    .photographer {
      font-size: 2.4rem; } }

.location {
  font-size: 1.2rem; }
  @media (min-width: 40em) {
    .location {
      font-size: 1.4rem; } }
  @media (min-width: 60em) {
    .location {
      font-size: 1.6rem; } }

a {
  text-decoration: none; }

h1 {
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: 700; }
  @media (min-width: 40em) {
    h1 {
      font-size: 2.4rem;
      line-height: 3rem; } }
  @media (min-width: 60em) {
    h1 {
      font-size: 3rem;
      line-height: 3.4rem; } }

p {
  font-size: 1rem;
  line-height: 1.8rem; }
  @media (min-width: 40em) {
    p {
      font-size: 1.4rem;
      line-height: 2.2rem; } }
  @media (min-width: 60em) {
    p {
      font-size: 1.8rem;
      line-height: 3rem; } }

/*= End of TYPOGRAPHY Styles =*/
/*=============================================<<<<<*/
/*=============================================>>>>>
= DESIGN Styles =
===============================================>>>>>*/
footer,
header p {
  color: #333; }

h1 {
  color: black; }

article {
  color: #ddd; }
  @media (min-width: 60em) {
    article {
      background-color: #222; } }

.anim {
  animation: bounce 1.5s infinite forwards; }

.caption {
  background-color: #222; }
  @media (min-width: 60em) {
    .caption {
      background-color: rgba(34, 34, 34, 0.9); } }

footer a {
  color: #999; }
  footer a:hover {
    color: black;
    box-shadow: inset 0 -0.1rem 0 0 white, inset 0 -0.2rem 0 0 black;
    text-shadow: 0.1rem 0.1rem 0 white, -0.1rem 0.1rem 0 white; }

@keyframes bounce {
  0%,
  100% {
    font-size: 1.8rem; }
  25% {
    font-size: 1.4rem; }
  50% {
    font-size: 2.4rem; } }

/*= End of DESIGN Styles =*/
/*=============================================<<<<<*/
/*=============================================>>>>>
= LAYOUT Styles =
===============================================>>>>>*/
body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-line-pack: center;
      align-content: center; }

footer,
header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  max-width: 1200px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center; }

header {
  margin-top: 4rem; }

.gallery {
  max-width: 1200px;
  margin-top: 2rem;
  margin-bottom: 3rem;
  padding: 0 1rem; }
  @media (min-width: 40em) {
    .gallery {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: row;
          flex-direction: row;
      margin-top: 2.5rem;
      margin-bottom: 5rem;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }
  @media (min-width: 60em) {
    .gallery {
      margin-top: 6rem;
      margin-bottom: 8rem; } }

article {
  position: relative;
  margin: 1rem; }
  @media (min-width: 40em) {
    article {
      width: calc(50% - 2rem); } }
  @media (min-width: 60em) {
    article {
      width: calc((100%/3) - 2rem); } }
  article img, article picture {
    display: block;
    max-width: 100%; }

@media (min-width: 60em) {
  .caption {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: 0.3s ease-in; } }

.caption img {
  float: left;
  clear: both;
  height: 1.2rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem; }
  @media (min-width: 40em) {
    .caption img {
      height: 1.6rem;
      padding-right: 0.7rem;
      padding-left: 0.7rem; } }
  @media (min-width: 60em) {
    .caption img {
      height: 2rem;
      padding-right: 1rem;
      padding-left: 1rem; } }

.caption p {
  box-sizing: border-box;
  padding-left: 2rem; }

.caption .photographer {
  padding-top: 0.5rem; }

.caption .location {
  padding-bottom: 0.5rem; }

footer {
  margin-bottom: 3rem; }

@media (min-width: 60em) {
  article:hover .caption {
    height: 30%; } }

/*= End of LAYOUT Styles =*/
/*=============================================<<<<<*/
