.box {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background-attachment: fixed;
    background: url("../img/grey.png") repeat top left;
    @media only screen and (min-width: 768px){
      background: url("../img/grey_@2X.png");
    }
}
