.c-about {}

.c-about__copy {
    @include font-size(1.6);
    @include margin-vert($space);
    @include margin-hoz($space);

    @media all and (max-width: 768px) {
         @include font-size(1.2);
    }
}

.c-about__subhead {
  margin: $space;
  margin-top: $space-double;
}
