.c-content {
    color: $color-text-reverse;
    background-color: $color-bg-dark;
    @include pad-vert($space);
}

.c-content--contact {
    &::before {
        position: absolute;
        content: " ";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        z-index: 0;
        opacity: 0.05;
        background-image: url("../img/bg-contact.jpg");
        background-size: cover;
        @media only screen and (min-width: 768px){
          background-image: url("../img/bg-contact_lg.jpg");
    }
}}

.c-content--about {
    &::before {
        position: absolute;
        content: " ";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        z-index: 0;
        opacity: 0.05;
        background-image: url("../img/bg-about.jpg");
        background-size: cover;
        @media only screen and (min-width: 768px){
          background-image: url("../img/bg-about_lg.jpg)");
    }
}}

.c-content--portfolio {
    &::before {
        position: absolute;
        content: " ";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        z-index: 0;
        opacity: 0.05;
        background-image: url("../img/bg-portfolio.jpg");
        background-size: cover;
        @media only screen and (min-width: 768px){
          background-image: url("../img/bg-portfolio_lg.jpg");
    }
}}
