.c-cta {
    @include margin-vert($space);
}

.c-cta__link {
    color: $color-white;
    background-color: $color-action;
    border-color: transparent;
}

.c-cta__copy {
    @include font-size(1.8);
    color: $color-text-reverse;
}
