.c-form {}

.c-form__label {
    color: $color-heading-reverse-accent;
    @include font-size(1.8);
    padding-bottom: $space-half;
}

.c-form__item {
    @include box-border($color-border-reverse);
    padding: $space;
    margin-bottom: $space-and-half;
}

.c-form__field {
    color: $color-text-reverse;
    background-color: $color-bg-panel-light;
    padding: $space-and-half;
    border: solid 1px transparent;
    box-shadow: none;
    transition: all $anim-speed $anim-ease;

    &:focus {
        outline: none !important;
        background-color: $color-bg-dark;
        border: solid 1px darken($color-current, 10%);
        box-shadow: 0 0 10px darken($color-current, 10%);
    }
    @media (min-width: 768px) {
        &::placeholder {
            color: transparent;
        }
    }
}

.c-form__field--textarea {
    resize: vertical;
}

.c-form__btn {
    color: $color-btn-reverse-text;
    background-color: $color-action;
    max-width: 75%;
    margin: 0 auto;

    &:hover {
        color: $color-btn-reverse-text-hover;
        background-color: $color-btn-reverse-hover;
    }

    &:focus {
        color: $color-btn-reverse-text-hover;
        background-color: $color-btn-reverse-hover;
        outline: none !important;
        border: solid 1px darken($color-current, 10%);
        box-shadow: 0 0 10px darken($color-current, 10%);
    }
}
