.c-heading {
    display: block;
    @include margin-vert($space);
}

.c-heading--section {
    color: $color-heading-reverse;
    @include font-size(2.4);
    @media all and(min-width: 768px) {
         @include font-size(3);
    }
}
