.c-link {
    color: $color-link;
    transition: all $anim-speed $anim-ease;

    &:visited {
        color: $color-link-visited;
    }

    &:hover {
        color: $color-link-hover;
    }

    &:active {
        color: $color-link-active;
    }
    &::after {
      content: " \00bb";
    }
}

.c-link--rev {
    color: $color-link-reverse;

    &:visited {
        color: $color-link-reverse-visited;
    }

    &:hover {
        color: $color-link-reverse-hover;
    }

    &:active {
        color: $color-link-reverse-active;
    }
}
