.modal-content {
  border-radius: $border-radius;
}

.modal-open {
  color: $color-text;
  @include font-size(1.6);
}

.modal-title {
  color: $color-heading;
  @include font-size(2.4);
}

.c-modal__copy {
  color: $color-text;
}

.c-modal__img {
  max-width: 56rem;
  width: 100%;
  @include margin-vert($space);
}
