.c-nav__item {
    @include font-size(2.4);
    @include margin-vert($space);
    color: $color-btn-text;

    &:hover {
        color: $color-btn-text-hover;
        background-color: $color-btn-hover;
        box-shadow: 0 20px 50px -20px $color-bg-dark;
    }
}

.c-nav__item--current {
    background-color: $color-current;

    &:hover {
        background-color: darken($color-current, 10%);
    }
}
