// .c-portfolio-list {
//     list-style: none;
//     padding: 0;
//     @include font-size(1.8);
// }
//
// .c-portfolio-list__thumb {
//   display: inline-block;
//   float: left;
// }
//
// .c-portfolio-list__desc {
//   display: inline-block;
//   float: right;
// }

.c-portfolio-item {
  float: left;
  @include font-size(1.8);
  @include margin-vert($space);
}

.c-portfolio-item__thumb {
  max-width: 30rem;
  width: 100%;
}

.c-portfolio-item__desc {
}
