.c-sidebar {
    @include font-size(2.6);
    @media (max-width: 768px) {
        text-align: center;
        margin: $space-and-half auto 0;
        @include font-size(1.8);
    }
}

.c-sidebar__nav {
    list-style: none;
    padding: 0;
}
