.c-social {
    list-style: none;
    padding: 0;
}

.c-social__item {
    @media all and (min-width: 882px) {
        display: inline;
        padding-right: $space;
    }
}

.c-social__link {
    color: $color-link;

    &:visited {
        color: $color-link-visited;
    }

    &:hover {
        color: $color-link-hover;
    }

    &:active {
        color: $color-link-active;
    }
}

.c-social__link--rev {
    color: $color-link-reverse;

    &:visited {
        color: $color-link-reverse-visited;
    }

    &:hover {
        color: $color-link-reverse-hover;
    }

    &:active {
        color: $color-link-reverse-active;
    }
}
