//
// #SPACING
//
@mixin pad-vert($value-spacing) {
    padding-top: $value-spacing;
    padding-bottom: $value-spacing;
}
@mixin pad-hoz($value-spacing) {
    padding-left: $value-spacing;
    padding-right: $value-spacing;
}
@mixin margin-vert($value-spacing) {
    margin-top: $value-spacing;
    margin-bottom: $value-spacing;
}
@mixin margin-hoz($value-spacing) {
    margin-left: $value-spacing;
    margin-right: $value-spacing;
}

//
// #TYPOGRAPHY
//
@mixin font-size($value-size: 1.6) {
    font-size: $value-size*10 + px;
    font-size: $value-size + rem;
}

//
// #STYLES
//
@mixin box-border($color) {
    border-top: solid 1px $color;
    border-left: solid 1px $color;
    border-radius: $border-radius 0 0 0;
}
