// #COLORS
//
// Top-level color variables should not be used in declarations. Rather, assign these
// colors to second-tier color variables and use those in your code.
// Read more at: http://bit.ly/2lR7XH6
//
// Additionally, colors are defined using HSL instead of hex or RGB for human-readability
// purposes. This also makes the sass `lighten` and `darken` functions operate more
// predictably.
// More information: http://bit.ly/2kqAqao
//

// Primary Brand colors
$color-brand-blue: hsl(232, 50, 25);
$color-brand-orange: hsl(32, 75, 50);
$color-brand-lavender: hsl(232, 90, 95);

// Neutrals
// Note: Grays are defined as percentages (i.e. $color-gray-50 = 50% gray)
$color-gray-15: hsl(0, 0, 85);
$color-gray-35: hsl(0, 0, 65);
$color-gray-73: hsl(0, 0, 27);
$color-gray-87: hsl(0, 0, 13);
$color-white: hsl(0, 0, 100);
$color-black: hsl(0, 0, 0);

// Use the colors below in CSS declarations
// Utility colors
$color-action: $color-brand-orange;
$color-current: $color-brand-lavender;

// Text colors
$color-text: darken($color-brand-blue, 10%);
$color-text-reverse: $color-gray-15;

// Links
$color-link: $color-gray-87;
$color-link-visited: $color-brand-blue;
$color-link-hover: $color-gray-73;
$color-link-active: $color-brand-orange;
$color-link-reverse: $color-brand-lavender;
$color-link-reverse-visited: $color-brand-lavender;
$color-link-reverse-hover: darken($color-brand-lavender, 10%);
$color-link-reverse-active: $color-brand-orange;

// Buttons
$color-btn-text: $color-gray-87;
$color-btn-text-hover: $color-white;
$color-btn-hover: $color-brand-orange;

$color-btn-reverse-text: $color-brand-lavender;
$color-btn-reverse-text-hover: $color-text;
$color-btn-reverse-hover: $color-brand-lavender;

// Headings
$color-heading: $color-brand-blue;
$color-heading-accent: $color-gray-87;
$color-heading-reverse: $color-brand-lavender;
$color-heading-reverse-accent: $color-gray-35;

// Borders
$color-border: $color-brand-blue;
$color-border-reverse: $color-brand-lavender;

// Background colors
$color-bg-dark: darken($color-brand-blue, 10%);
$color-bg-light: $color-white;
$color-bg-panel-dark: transparentize($color-brand-blue, .75);
$color-bg-panel-light: transparentize($color-gray-15, .75);

//
// #TYPOGRAPHY
//
// Typography sizing is set in `scss/base/_body.scss` at 62.5% to allow use of
// base-10 rem sizing (e.g., `1.6rem` is equal to `16px`)
// The mixin `font-size` (in `scss/abstracts/_mixins.scss`) provides a px fallback
// for browsers that do not support rem sizing.
//

// Typefaces
$font-primary: 'Raleway', sans-serif;
$font-secondary: 'Alfa Slab One', serif;

// Font sizes

//
// #BOX MODEL
//
// Default padding, border, and margin styling
//

// Spacing (padding and margins)
$space: 2rem;
$space-and-half: $space*1.5;
$space-double: $space*2;
$space-half: $space*0.5;
$space-quarter: $space*0.25;

// Borders
$border-radius: 0.2rem;

//
// #ANIMATION
//
// Default animation speed and easing

$anim-speed: 0.2s;
$anim-ease: ease-in-out;
